@charset "UTF-8";

/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-01: #00FA9F;
    --cor-02: #23CF90;
    --cor-03: #37A57D;
    --cor-04: #3E7B62;
    --cor-05: #AEC7B9;

    --textos: 'magra';
    --titulos: 'roboto';
}

/* ESTILO GERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--textos), arial, sans-serif;
}

.interface {
    max-width: 1420px;
    padding: 100px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* ESTILO GERAL DO BTN VERDE */

.btnColorido {
    background-color: var(--cor-01);
    border: none;
    padding: 10px 35px;
    border-radius: 6px;
    transition: .5s;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.btnColorido:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px var(--cor-01);
}

.btnColorido a {
    text-decoration: none;
    color: white;
}

/* ESTILOS GERAIS DOS TEXTOS */

span {
    color: var(--cor-03);
}

h1,
h2,
h3 {
    font-family: var(--titulos);
}

p {
    text-indent: 25px;
}

/* ESTILO DO CABEÇARIO */

header {
    width: 100%;
    position: fixed;
    z-index: 4;
    transition: .8s;
}

header.rolagem {
    background-color: var(--cor-03);
    padding: 0px 100px;
}

header.rolagem .interface {
    padding: 0px;
}

header.rolagem img {
    max-width: 120px;
    max-height: 120px;
}

header .interface {
    padding: 80px 100px;
}

header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li {
    list-style-type: none;
    margin-left: 60px;
}

header nav ul li a {
    text-decoration: none;
    font-family: var(--titulos);
    display: block;
    color: black;
    font-size: 18px;
}

header.rolagem a {
    color: white;
}

header.rolagem a:hover {
    color: var(--cor-01);
}

header.rolagem .btnColorido a {
    color: white;
}

header nav.menuDesktop ul li a:hover {
    color: var(--cor-03);
    transform: scale(1.05);
    cursor: pointer;
    transition: .3s;
}

header i {
    padding-right: 5px;
}

.btnMenuEscondido {
    position: relative;
}

.menuEscondido {
    margin-top: 20px;
    width: 170%;
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.btnMenuEscondido:hover .menuEscondido {
    height: 170px;
}

header.rolagem .btnMenuEscondido:hover .menuEscondido {
    background-color: var(--cor-03);
}

.menuEscondido a {
    padding: 10px 8px;
}

/* ESTILO DO MENU MOBILE */

.btnAbrirMenu {
    color: var(--cor-01);
    font-size: 35px;
}

.overlayMenu {
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: none;
}

header .menuMobile {
    background-color: var(--cor-04);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

header .menuMobile.abrir-menu {
    width: 70%;
}

header .menuMobile.abrir-menu~.overlayMenu {
    display: block;
}

header .menuMobile nav ul {
    display: block;
    text-align: right;
}

header .menuMobile nav ul li {
    margin: 0;
}

header .menuMobile nav ul li a {
    font-size: 20px;
    font-weight: 300;
    padding: 20px 5%;
    color: white;
    transition: .2s;
}

header .menuMobile nav ul li a:hover {
    background-color: var(--cor-01);
    color: black;
}

header .menuMobile .btnHanburguer i {
    color: var(--cor-01);
    font-size: 30px;
}

header .menuMobile .btnHanburguer {
    padding: 20px 8%;
}

/* ESTILO DO TOPO DO SITE */

#topoDoSite {
    height: 100vh;
    opacity: .90;
    background-image: url(imagens/fundo-eolica.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

#topoDoSite h1 {
    padding-top: 20%;
    font-family: var(--titulos);
}

#topoDoSite p {
    text-indent: 25px;
    margin: 50px 0px;
    max-width: 800px;
    text-align: justify;
    font-family: var(--textos);
    font-size: 20px;
}

/* ESTILO DO CONTEXTO HISTORICO */

#contextoHistorico .flex:not(:last-child) {
    margin-bottom: 70px;
}

#contextoHistorico .txtHistorico p {
    padding-top: 30px;
    text-align: justify;
    text-indent: 25px;
}

#contextoHistorico .txtHistorico p:not(:last-child) {
    padding-top: 50px;
}

#contextoHistorico .primeira {
    padding-right: 50px;
}

#contextoHistorico .segunda {
    padding-left: 50px;
}

/* ESTILO DO CARROSSEL CARD */

#tecnologias {
    width: 100%;
    background-color: var(--cor-05);
    height: 600px;
}

#tecnologias .container {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

#tecnologias .interface {
    padding: 40px 50px
}

#tecnologias h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

#tecnologias .cardSlides {
    display: flex;
    align-items: center;
    width: 290%;
}

#tecnologias input {
    display: none;
}

#tecnologias .cardSlide {
    background-color: rgba(255, 255, 255, 0.2);
    width: 400px;
    height: 400px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    transition: 1s;
    margin: 20px 55px;
}

#tecnologias .cardSlide .cardSlide .primeiro {
    margin-left: 40px;
}

#tecnologias .cardSlide:hover {
    transform: scale(1.05);
}

#tecnologias .cardSlide .txtCard {
    text-align: center;
}

#tecnologias .cardSlide .icone {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tecnologias .cardSlide i {
    padding: 25px;
    font-size: 30px;
    border-radius: 50%;
    margin: 30px;
    background-color: var(--cor-01);
    border: 3px solid white;
}

#tecnologias .cardSlide p {
    text-align: justify;
    margin: 20px 40px;
}

#tecnologias .cardSlide .botaoCartao {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tecnologias .cardSlide .botaoCartao button {
    font-size: 18px;
    padding: 10px 35px;
    border-radius: 6px;
    font-weight: 500;
    border: 1px solid white;
    cursor: pointer;
}

#tecnologias .cardSlide button:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    transform: scale(1.05);
}

#tecnologias .cardSlide button:hover a {
    color: white;
}

#tecnologias .cardSlide button a {
    color: black;
    text-decoration: none;
}

.navegacaoManualCard {
    position: absolute;
    width: 71%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.manualBtnCard {
    border: 2px solid var(--cor-04);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manualBtnCard:not(:last-child) {
    margin-right: 20px;
}

.manualBtnCard:hover {
    background-color: var(--cor-04);
}

#CardRadio1:checked~.primeiro {
    margin-left: 2%;
}

#CardRadio2:checked~.primeiro {
    margin-left: -32%;
}

#CardRadio3:checked~.primeiro {
    margin-left: -64%;
}

.navegacaoAutoCard {
    position: absolute;
    width: 71%;
    display: flex;
    justify-content: center;
    margin-top: 473px;
}

.navegacaoAutoCard div {
    border: 2px solid var(--cor-04);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.navegacaoAutoCard div:not(:last-child) {
    margin-right: 20px;
}

#CardRadio1:checked~.navegacaoAutoCard .cardAutoBtn1,
#CardRadio2:checked~.navegacaoAutoCard .cardAutoBtn2,
#CardRadio3:checked~.navegacaoAutoCard .cardAutoBtn3 {
    background-color: var(--cor-04);
}

/* ESTILO DE BIOTECNOLOGIA */

#biotecnologia {
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 1;
    background-color: var(--cor-04);
    margin: 50px 0px;
}

#biotecnologia .txtBiotecnologia {
    text-align: center;
    padding: 50px;
    color: white;
}

#biotecnologia .txtBiotecnologia h1 {
    color: var(--cor-01);
}

#biotecnologia p {
    padding-top: 20px;
    font-size: 18px;
}

#biotecnologia .cartoesBiotecnologia {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.cartoesBiotecnologia .cartaoBiotecnologia {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px auto;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.cartoesBiotecnologia .cartaoBiotecnologia .conteudoCartaoBiotecnologia {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
    text-align: justify;
}

.cartoesBiotecnologia .cartaoBiotecnologia:hover .conteudoCartaoBiotecnologia {
    transform: translate(0px);
    opacity: 1;
}

.cartoesBiotecnologia .cartaoBiotecnologia .conteudoCartaoBiotecnologia h2 {
    position: absolute;
    top: -20px;
    height: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.cartoesBiotecnologia .cartaoBiotecnologia .conteudoCartaoBiotecnologia h3 {
    font-size: 1.8em;
    color: white;
    z-index: 1;
}

.cartoesBiotecnologia .cartaoBiotecnologia .conteudoCartaoBiotecnologia p {
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.cartoesBiotecnologia .cartaoBiotecnologia .conteudoCartaoBiotecnologia a {
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    margin-top: 20px;
    background-color: white;
    color: black;
    font-weight: 500;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/* ESTILO DO TEXTO OPORTUNIDADES */

#oportunidadesProfissionais {
    background-color: var(--cor-05);
    margin: 100px 0px;
}

#oportunidadesProfissionais .txtOportunidades {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
}

#oportunidadesProfissionais .txtOportunidades h1 {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
}

#oportunidadesProfissionais .txtOportunidades p {
    padding: 20px 50px;
    text-align: justify;
    text-indent: 20px;
    font-size: 18px;
}

/* ESTILO DO CARROSSEL */

#carrossel {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 100px;
}

.slides {
    width: 400%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 100%;
}

.navegacaoManual {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

.manualBtn {
    border: 2px solid var(--cor-01);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manualBtn:not(:last-child) {
    margin-right: 40px;
}

.manualBtn:hover {
    background-color: var(--cor-01);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navegaçaoAuto {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 460px;
}

.navegaçaoAuto div {
    border: 2px solid var(--cor-01);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.navegaçaoAuto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navegaçaoAuto .autoBtn1,
#radio2:checked~.navegaçaoAuto .autoBtn2,
#radio3:checked~.navegaçaoAuto .autoBtn3,
#radio4:checked~.navegaçaoAuto .autoBtn4 {
    background-color: var(--cor-01);
}

.txtCarrossel {
    position: absolute;
    width: 100%;
    padding: 100px 150px;
    text-align: center;
}

.txtCarrossel h1 {
    color: var(--cor-01);
    font-size: 40px;
}

.txtCarrossel p {
    padding: 50px 0px;
    font-size: 20px;
    padding-bottom: 100px;
    color: white;
}


/* ESTILO DO FOOTER  */

#rodapeSuperior {
    background-color: var(--cor-03);
}

#rodapeSuperior .interface {
    padding: 40px;
    margin: 0 auto;
}

#rodapeSuperior nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#rodapeSuperior nav ul li {
    list-style-type: none;
}

#rodapeSuperior nav ul li a {
    margin-top: 20px;
    text-decoration: none;
    font-family: var(--titulos);
    display: block;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: .2s;
    margin-right: 40px;
}

#rodapeSuperior nav ul li a:hover {
    color: var(--cor-01);
    transform: scale(1.05);
}

#rodapeSuperior .BotoesRodape {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#rodapeSuperior .BotoesRodape button {
    padding: 15px;
    background-color: var(--cor-01);
    cursor: pointer;
    border-radius: 50%;
    border: none;

}

#rodapeSuperior .BotoesRodape button:hover {
    box-shadow: 0px 0px 8px var(--cor-01);
    transition: .2s;
}

#rodapeSuperior .BotoesRodape button:not(:last-child) {
    margin-right: 15px;
}

#rodapeSuperior .BotoesRodape button i {
    color: black;
}

#rodapeInferior {
    background-color: var(--cor-04);
}

#rodapeInferior .interface {
    padding: 40px;
    margin: 0 auto;
}

#rodapeInferior .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#rodapeInferior p,
a {
    color: white;
    font-size: 18px;
    font-family: var(--titulos);
    transition: .2s;
}

#rodapeInferior a:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: var(--cor-01);
}